@use "../core";
@use "../fonts";
@use "../variables" as *;
@use "../mixins/convert-mixins" as convertMixins;

// Global and global elements
.global.template-convert {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;

    // Logo
    .global__logo {
        width: 48px;
        position: absolute;
        top: 20px;
        left: 10px;
    }

    // Image
    .global__image {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        height: 100px;
        object-fit: cover;
        object-position: center;
    }

    .global__cta {
        @include convertMixins.convert-cta;
    }
}

// Frame and frame elements
.frame.template-convert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // Copy Container
    .frame__copy-container {
        color: #fff;
        opacity: 0;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 22px;
        font-weight: 900;
        display: flex;
        position: absolute;
        height: 100px;
        top: 20px;
        left: 73px;
        right: 0;
        overflow-x: hidden;
        .frame__copy {
            .frame__copy-line {
                &:nth-child(3) {
                    margin-top: 5px;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }
    // Image
    .frame__image-container {
        position: absolute;
        bottom: 10px;
        right: 10px;
        left: 10px;
        height: 100px;
        overflow: hidden;

        .frame__image {
            object-fit: cover;
            object-position: center;
            opacity: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .frame__cta {
        @include convertMixins.convert-cta;
        opacity: 0;
    }
}
