@use "../variables.scss" as *;

// Shared mixins for convert templates

@mixin convert-cta {
    z-index: 2;
    text-align: center;
    white-space: nowrap;
    background: #fff;
    border-radius: 99px;
    width: fit-content;
    padding: 7px 20px 8px;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 217px;
    left: 10px;
}
